{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<body>
  <h1 class="logo"> Welcome to the Event Manage System! </h1>
  {% if user.is_authenticated %}
  <p>Hi <a href="#">{{ user.username }}!</a>
    <button class = "btn btn-default">
      <a href= "{% url 'logout' %}?next={{request.path}}">Logout</a>
    </button>
    <button class="btn btn-default flex-right">
      <a href="{% url 'password_change' %}?next={{ request.path }}">Change password</a></button></p>
  <p class="flex-center">
    <a href="{% url 'owner' %}" class="btn btn-primary btn-block">owner</a></p>
  <p class="flex-center">
    <a href="{% url 'vendor' %}" class="btn btn-primary btn-block">vendor</a></p>
  <p class="top-gap flex-center">
    <a href = "{% url 'guest' %}" class="btn btn-primary btn-block"> guest</a></p>
  {% else %}
  <p>You are not logged in, please
    <button class="btn btn-default">
      <a href="{% url 'login' %}?next={{request.path}}">Login</a></button>
    <button class="btn btn-default">
      <a href="{% url 'users:register' %}">Sign up</a></button>
  </p>
</body>
{% endif %}
{% endblock %}
