{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}

<body>
  <h1><a href="{% url 'home' %}">Event Manage System</a></h1>
  <h2>Change password</h2>
  <form class="form" action="{% url 'password_change' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.label_tag }}
    {{ field }}
	 {{ field.errors }}
    {% if field.help_text %}
    <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
    {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-block">Save change</button>
  </form>
</body>
{% endblock %}
